services:
  app:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    volumes:
      - ../src:/app/src
      - ../config:/app/config:ro
    environment:
      - CONFIG_PATH=${CONFIG_PATH:-/app/config/config.toml}
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - app_network

  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
